<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
</head>
<body>
    <header>
        <div>
            <div class="logo">
                <img src="static/images/images.png" alt="">
            </div>
            <div class="texto">
                <h1>WIKI DO IFSP</h1>
                <p>Seja bem vindo!!!</p>
            </div>
            <div class="registrar">
                {% if 'user_id' in session %}
                     <a href="{{ url_for('login.logout') }}">Sair</a>
                {% else %}
                  <a href="{{ url_for('login.exibir_formulario') }}">Entrar</a> <br>
                   <a href="{{ url_for('login.register') }}">Não tem conta?</a>
                {% endif %}
            </div>
        </div>
    </header>
    <br><br><br>
    <a href="/professores/professores">Ver professores</a>
</body>
</html>