<!DOCTYPE html>
<html>
<head>
    <title>Inteligência Artificial</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ia.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container">
        <h1>Inteligência Artificial da WIKI  IFSP</h1>
        <h3>Pergunte algo sobre o Instituto Federal de São Paulo</h3>
        <div class="input-area">
            <input type="text" id="question" placeholder="Digite sua pergunta">
           <button onclick="makeRequest()">Enviar</button>
        </div>
        <div class="response-area" id="response">

        </div>

        <a href="/">Voltar ao Home</a>
    </div>
    
     <script>
     async function makeRequest() {
         const question = document.getElementById('question').value
          const responseArea = document.getElementById('response');
         responseArea.innerHTML = "Carregando..."
         try{
            const res = await fetch('/ia/ia_response', {
                method: 'POST',
                 headers: {
                  'Content-Type': 'application/json'
                },
               body: JSON.stringify({ question: question })
            })
              if(!res.ok) {
              const message = `Erro: ${res.status}`;
                 throw new Error(message);
            }
             const data = await res.json()
            responseArea.innerHTML = data.response;

        } catch(error) {
         responseArea.innerHTML = error.message
        }

    }
    </script>
    {% endblock %}
</body>
</html>